# Login parameters
login=username
password=password
server=example.com
nickname=Mithgol

# Room coordinates
room=a@conference.example.com,b@conference.example.com

# Filtering parameters
filter.resource=^user-cccaaaeb88$
filter.nickname=^aaaa.*0101?$
filter.jid=^j@example.com$
